<div class="player">
    <div class="score"><a>Score</a></div>
    <p class="points">{{ getScore() }}</p>
    <app-stopwatch class="time"></app-stopwatch>
    <p class="lives">{{ getLives() }}</p>
</div>

<div>
    <img class="topLeft" src="../assets/images/sword.png" alt="sword">
    <img class="bottomLeft" src="../assets/images/nun.png" alt="nunchucks">
    <div class="left">
        <img src="../assets/images/shurk.png" alt="shuriken">
        <img src="../assets/images/shurk.png" alt="shuriken">
        <img src="../assets/images/shurk.png" alt="shuriken">
        <img src="../assets/images/shurk.png" alt="shuriken">
    </div>
</div>


<div>
    <img class="topRight" src="../assets/images/sword.png" alt="sword">
    <img class="bottomRight" src="../assets/images/nun.png" alt="nunchucks">
    <div class="right">
        <img src="../assets/images/shurk.png" alt="shuriken">
        <img src="../assets/images/shurk.png" alt="shuriken">
        <img src="../assets/images/shurk.png" alt="shuriken">
        <img src="../assets/images/shurk.png" alt="shuriken">
    </div>
</div>