<div class=top>
    <img src="../assets/fruits/Kiwi.png" alt="Kiwi">
    <img src="../assets/fruits/Banana.png" alt="Banana">
    <img src="../assets/fruits/Strawberry.png" alt="Strawberry">
    <img src="../assets/fruits/Golden kiwi.png" alt="Golden kiwi">
    <img src="../assets/fruits/Mango.png" alt="Mango">
    <img src="../assets/fruits/Melon.png" alt="Melon">
    <img src="../assets/fruits/Grape.png" alt="Grape">
    <img src="../assets/fruits/Apple.png" alt="Apple">
    <img src="../assets/fruits/Pear.png" alt="Pear">
    <img src="../assets/fruits/Kiwi.png" alt="Kiwi">
    <img src="../assets/fruits/Banana.png" alt="Banana">
    <img src="../assets/fruits/Strawberry.png" alt="Strawberry">
    <img src="../assets/fruits/Golden kiwi.png" alt="Golden kiwi">

</div>

<div>
    <a class="bigText">Fruit Clicker</a>
</div>

<div class=start>
    <button class=button (click)="startGame()">
        <img src="../assets/fruits/Bomb.png" alt="Bomb">
    </button>
</div>

<div>
    <a class="smallText">Click to Start</a>
</div>

<div class=left>
    <img src="../assets/fruits/Pear.png" alt="Pear">
    <img src="../assets/fruits/Apple.png" alt="Apple">
    <img src="../assets/fruits/Grape.png" alt="Grape">
    <img src="../assets/fruits/Melon.png" alt="Melon">
    <img src="../assets/fruits/Mango.png" alt="Mango">
    <img src="../assets/fruits/Golden kiwi.png" alt="Golden kiwi">
    <img src="../assets/fruits/Strawberry.png" alt="Strawberry">
    <img src="../assets/fruits/Banana.png" alt="Banana">
    <img src="../assets/fruits/Kiwi.png" alt="Kiwi">
    <img src="../assets/fruits/Pear.png" alt="Pear">
    <img src="../assets/fruits/Apple.png" alt="Apple">

</div>

<div class=bottom>
    <img src="../assets/fruits/Pear.png" alt="Pear">
    <img src="../assets/fruits/Apple.png" alt="Apple">
    <img src="../assets/fruits/Grape.png" alt="Grape">
    <img src="../assets/fruits/Melon.png" alt="Melon">
    <img src="../assets/fruits/Mango.png" alt="Mango">
    <img src="../assets/fruits/Golden kiwi.png" alt="Golden kiwi">
    <img src="../assets/fruits/Strawberry.png" alt="Strawberry">
    <img src="../assets/fruits/Banana.png" alt="Banana">
    <img src="../assets/fruits/Kiwi.png" alt="Kiwi">
    <img src="../assets/fruits/Pear.png" alt="Pear">
    <img src="../assets/fruits/Apple.png" alt="Apple">
    <img src="../assets/fruits/Grape.png" alt="Grape">
    <img src="../assets/fruits/Melon.png" alt="Melon">
    <img src="../assets/fruits/Mango.png" alt="Mango">

</div>

<div class=right>
    <img src="../assets/fruits/Kiwi.png" alt="Kiwi">
    <img src="../assets/fruits/Banana.png" alt="Banana">
    <img src="../assets/fruits/Strawberry.png" alt="Strawberry">
    <img src="../assets/fruits/Golden kiwi.png" alt="Golden kiwi">
    <img src="../assets/fruits/Mango.png" alt="Mango">
    <img src="../assets/fruits/Melon.png" alt="Melon">
    <img src="../assets/fruits/Grape.png" alt="Grape">
    <img src="../assets/fruits/Apple.png" alt="Apple">
    <img src="../assets/fruits/Pear.png" alt="Pear">
    <img src="../assets/fruits/Kiwi.png" alt="Kiwi">


</div>